{
  "USER_PUBLIC_KEY": "B62qpC77Fr5rDqsGrGwDJdgPcQtqCE4euHddDNPoT8vBVmbXCRKDFST",
  "USER_PRIVATE_KEY": "EKE...",
  "TOKEN_ADDRESS": "B62qp7MvZUZ31NuysZYm5oqieCqyBdMxfc3HWZ21iKakXwWaepZSgox",
  "JWT": "eyJhbGc.... (get it at https://minarollupscan.com/jwt)"
}
